	<div class="container-fluid" id="img_div">
		<img id="footer_img" src="https://i.ibb.co/VJ17DYc/jugal.jpg">
		<div class="centered">
			<ul class="">
					<div style="margin-top: 4vh;" class="row" id="icon-bar">
						<div class="col" style="margin-right: 1vh;">
							<a id="footer-icon" href="https://github.com/jugal09xx/"><i class="fab fa-github"></i></a>
						</div>
						<div class="col" style="margin-right: 1vh;">
							<a id="footer-icon" href="https://www.linkedin.com/in/jugal-lad-48153418b/"><i class="fab fa-linkedin-in"></i></a>
						</div>
						<div class="col" style="margin-right: 1vh;">
							<a id="footer-icon" href="https://instagram.com/this_is_jugxl"><i class="fab fa-instagram"></i></a>
						</div>
						<div class="col" style="margin-right: 1vh;">
							<a id="footer-icon" href = "mailto: jug091000@gmail.com"><i class="fas fa-envelope"></i></a>
						</div>
				</div>
				</ul>
		</div>
</div>  


</body>
</html>