<%- include("partials/header") %>

<section>
	<div class="body" id="sec1">
		<div class="container">
			<div class="row">
				<div class="header">
				<h1 class="main-text animate__animated animate__zoomIn">
				I am Jugal Lad. <img class="emoji" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/man-raising-hand-type-1-2_1f64b-1f3fb-200d-2642-fe0f.png"><br>
				A Web Developer <br>and Graphic Designer.
				</h1>
				<h1 class="main-text-2 animate__animated animate__fadeInLeft">Currently pursuing a bachelor's degree in Computer Science.	
				</h1>
				<p class="main-subtext animate__animated animate__fadeIn">
					Welcome to my Portfolio!
				</p>
					<div class="scroll-btn">
					<a href="#sec2" class="btn btn-lg scroll-down">
						<i class="fas fa-arrow-down"></i> About Me
					</a>
				</div>
			</div>
			<div class="ul animate__animated animate__fadeInRight">
				<ul class="">
					<li class="icon"><a id="icon-link" href="https://github.com/jugal09xx/"><i class="fab fa-github"></i></a></li>
					<li class="icon"><a id="icon-link" href="https://www.linkedin.com/in/jugal-lad-48153418b/"><i class="fab fa-linkedin-in"></i></a></li>
					<li class="icon"><a id="icon-link" href="https://instagram.com/this_is_jugxl"><i class="fab fa-instagram"></i></a></li>
					<li class="icon"><a id="icon-link" href = "mailto: jug091000@gmail.com"><i class="fas fa-envelope"></i></a></li>
				</ul>
			</div>	
			</div>
		</div>
	</div>
</section>
<section id="sec2">
	<div class="body2">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"  data-aos="fade-right"  data-aos-duration="1000" data-aos-once="true">
					<div class="aboutme-header">
						<h1 class="about-me-header">
							Hi, I'm Jugal 
						</h1>
						<p class="text-muted aboutme-subheader">
							Developer and Designer
						</p>
						<div style="text-align: left; justify-content: center;">
							<p class="aboutme-subtext text-muted">
							Through constant learning and creation, I produce efficient applications using modern technologies using the best of my capabilities and to the highest standards. I love trying new technologies and working with new frameworks.
						</p>
						</div>
					</div>
				</div>
				<br>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: center;"  data-aos="fade-left"  data-aos-duration="1000" data-aos-once="true">
					<p>
						<img src="https://i.ibb.co/qRH7C7n/jugal.jpg" class="imgme">
					</p>		
				</div>
			</div>
			<div class="row" style="margin-top: 10vh;">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"  data-aos="fade-right"  data-aos-duration="1000" data-aos-once="true">
					<div class="aboutme-header">
						<h1 class="about-me-header">
							Skills
						</h1>
						<p class="text-muted aboutme-subheader">
							Development
						</p>
						<div style="line-height: 1.7;">
							<ul class="skills aboutme-subtext text-muted">
							<li id="item1">HTML5</li>
							<li>CSS3</li>
							<li>JavaScript</li>
							<li>Jquery</li>
						</ul>
						<ul class="skills aboutme-subtext text-muted">
							<li id="item1">NodeJS</li>
							<li>Git</li>
							<li>Bootstrap 4</li>
							<li>Mongo DB</li>
						</ul>
						<ul class="skills aboutme-subtext text-muted">
							<li id="item1">C++</li>
							<li>C</li>
							<li>Java</li>
							<li>Python</li>
						</ul>
						</div>
						<br>
						<p class="text-muted aboutme-subheader">
							Design
						</p>
						<div style="line-height: 1.7;">
							<ul class="skills aboutme-subtext text-muted">
							<li id="item1">Adobe XD</li>
							<li>Illustrator</li>
							<li>Photoshop</li>
							<li>Vegas Pro</li>
						</ul>
						</div>
						<br>
						<br>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="line-height: 1.7;"  data-aos="fade-left"  data-aos-duration="1000" data-aos-once="true">
					<h1 class="about-me-header">
						Interests
					</h1>
					<p class="text-muted aboutme-subheader">
						Passions
					</p>
					<p class="aboutme-subtext text-muted">
						<i class="fas fa-book-open"></i> Learning
					</p>
					<p class="aboutme-subtext text-muted">
						<i class="fas fa-laptop-code"></i> Technology
					</p>
					<p class="aboutme-subtext text-muted">
						<i class="far fa-futbol"></i> Sports
					</p>
					<br>
					<p class="text-muted aboutme-subheader">
						Languages
					</p>
					<div class="row">
						<div class="col">
							<p class="text-muted aboutme-subtext">
								English <span style="color: #d3d3d3;">(Fluent)</span>
							</p>
							<p class="text-muted aboutme-subtext">
								Hindi <span style="color: #d3d3d3;">(Fluent)</span>
							</p>
						</div>
						<div class="col">
							<p class="text-muted aboutme-subtext">
								Gujarati <span style="color: #d3d3d3;">(Fluent)</span>
							</p>
							<p class="text-muted aboutme-subtext">
								French <span style="color: #d3d3d3;">(Intermediate)</span>
							</p>		
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>
<section id="sec3">
	<div class="body3">
		<div class="container">
				<h1 class="portfolio-header" data-aos="fade-in"  data-aos-duration="1000" data-aos-once="true">Portfolio</h1>
				<p class="portfolio-subtext">
					I have always been an enthusiastic person when it comes to designing and building things. I love building apps and websites and trying out new technologies!<br><span style="color: white;">Here's some of my work.</span>
			</p>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="card" style="background: #0FFF95;" data-aos="fade-up"  data-aos-duration="1000" data-aos-once="true">
					  <div class="card-header" style="background: #0FFF95;">
						PROJECT
					  </div>
					  <div class="card-body">
						<h5 class="card-title">COVID-19 Tracker  <i class="fas fa-chart-line"></i></h5>
						<p class="card-text">A complete COVID-19 tracking app which brings to you all the numbers and valuable information about the pandemic.</p>
						<a href="#covidapp" class="btn" id="link-covid" style="border-radius: 0px;">View work</a>
					  </div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="card" style="background:#7FC8F8;" data-aos="fade-up"  data-aos-duration="1000" data-aos-once="true">
					  <div class="card-header" style="background:#7FC8F8;">
						<span style="color:black;">PROJECT</span>
					  </div>
					  <div class="card-body">
						<h5 class="card-title">Care For You  <i class="fas fa-user-md"></i></h5>
						<p class="card-text">Care For You is an e-prescription app using which a patient can consult doctors, keep a tab of their prescriptions and medicine history.</p>
						<a href="#careforyou" class="btn" id="link-button" style="border-radius: 0px;">View work</a>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="covidapp" style="margin:0;">
	<div class="covidapp">
		<div class="container">
			<p class="covid-subtext" style="color: black;">
				PROJECT/JULY 2020
			</p>
			<h1 class="covid-header">
				COVID-19 Tracker  <a href="https://jugallad.herokuapp.com" class="link-arrow"><i class="fas fa-arrow-right"></i></a>
			</h1>
			<a href="https://jugallad.herokuapp.com" class="btn btn-lg" id="link-covid" style="border-radius: 25px;">Visit Project</a>
			<p class="covid-subtext">
				COVID-19 Tracker is a web based application which shows live COVID-19 data (Active cases, Recovered cases and Deaths). The app also gives valuable information about the pandemic and also shows latest developments and news articles. It's an all-in-one package to keep up with the latest happenings and numbers of the pandemic. The app shows world statistics as well as statistics by country.
			</p>
			<div class="row" style="text-align: center; margin: 0;">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-aos="fade-up"  data-aos-duration="1000" data-aos-once="true">
					<img class="screenshot" src="https://i.ibb.co/f9s8H8B/20200716-161121.jpg">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-aos="fade-up"  data-aos-duration="1000" data-aos-once="true">
					<img class="screenshot" src="https://i.ibb.co/4jC8rTx/20200716-161154.jpg">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-bottom:5vh;" data-aos="fade-up"  data-aos-duration="1000" data-aos-once="true">
					<img class="screenshot" src="https://i.ibb.co/KN4Jwvq/20200716-161725.jpg">
				</div>
				<br>
			</div>
			<p class="covid-subtext">
				The app is based on NodeJs and RESTFUL APIs and works on a COVID-19 API to show all the information (Numbers and News) to the user. The front-end is user friendly and easy to the eyes. It has been designed using CSS3 and Bootstrap 4 while the backend on the other hand, is based on Express JS.
			</p>
			<div class="row" style="text-align: center;" data-aos="fade-up"  data-aos-duration="1000" data-aos-once="true">
				<h1>
					<img src="https://i.ibb.co/SfFzywS/Screenshot-14.png" alt="Screenshot-14" class="screenshot_big" border="0">	
				</h1>
			</div>
			<p class="covid-subtext">
				All in all, it was a great experience working on this project and I learned a lot of new things as well. I did face many challenges but I did eventually find my way around and finally deployed the app on Heroku.
			</p>
		</div>
	</div>
</section>
<section id="careforyou" style="margin:0;">
	<div class="careforyou covidapp">
		<div class="container">
			<p class="covid-subtext" style="color: black;">
				PROJECT/JUNE 2020
			</p>
			<h1 class="covid-header">
				Care For You  <a href="https://care-for-you.herokuapp.com" class="link-arrow"><i class="fas fa-arrow-right"></i></a>
			</h1>
			<a href="https://care-for-you.herokuapp.com" class="btn btn-lg" id="link-button" style="border-radius: 25px;">Visit Project</a>
			<p class="covid-subtext">
				Care For You is an e-prescription app which helps a patient to consult doctors online, keep a tab of their prescriptions, medicine history and upcoming and past appointments.
			</p>
			<div class="row" style="text-align: center; margin: 0;" data-aos="fade-up"  data-aos-duration="1000" data-aos-once="true">
				<h1>
					<img src="https://i.ibb.co/4PsWqRb/Screenshot-16.png" class="screenshot_big">
				</h1>
			</div>
			<p class="covid-subtext">
				The app features a minimalist UI design based on bootstrap 4 and CSS3 while the backend is based on Express JS. The simple UI design make the app user friendly and the blue and white theme gives it a comforting and safe feel like an online medical consulting service should have.
			</p>
			<div class="row" style="text-align: center; margin: 0;" data-aos="fade-up"  data-aos-duration="1000" data-aos-once="true">
				<h1>
					<img src="https://i.ibb.co/PC8bqQc/Screenshot-18.png" class="screenshot_big">
				</h1>
			</div>
			<p class="covid-subtext">
				A vast majority of the population in India is devoid of basic healthcare facilities. This app provides a solution for them by making healthcare and diagnosis available for all people from the best doctors and in a language they understand.
			</p>
			<div class="row" style="text-align: center;" data-aos="fade-up"  data-aos-duration="1000" data-aos-once="true">
				<h1>
					<img src="https://i.ibb.co/P4shXTC/Screenshot-19.png" alt="Screenshot-14" class="screenshot_big" border="0">	
				</h1>
			</div>
			<p class="covid-subtext">
				Working on this project was a great experience as we made it for a Hackathon, the entire app was built under 24 hours starting from scratch. 
			</p>
		</div>
	</div>
</section>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
<script>
	
	$(document).ready(function(){
	  $(window).scroll(function(){
		var scroll = $(window).scrollTop();
		  if (scroll > 710) {
			$(".navbar").css("background" , "white");
			$(".navbar-brand").css("color" , "black");
			$(".nav-link").css("color" , "black");
			$(".fa-bars").css("color" , "black");
			$(".nav-name").css("font-size" , "0px");
		  }
		  else{
			  $(".navbar").css("background" , "black");  	
			  $(".navbar-brand").css("color" , "white");  	
			  $(".nav-link").css("color" , "white");
			  $(".fa-bars").css("color" , "white");
			  $(".nav-name").css("font-size" , "3vh");
		  }
	  })
	})
</script>

<%- include("partials/footer") %>
