
html{
	scroll-behavior: smooth;
}
#img_div{
	position: relative;
	text-align: center;
	color: white;
	padding:0px;
	width: 100%;
}
#footer_img{
	width: 100%;
	padding: none;
	filter: grayscale(100%);
	transition: 0.3s ease-in-out;
}
.centered {
  font-family: 'SF Display', sans-serif;
	font-size: 15vh;
	font-weight: 600;
	color: white;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#footer_img:hover{
	filter: grayscale(0%);
}
.loader{
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width:100vw;
	height: 100vh;
	background: black;
	display: flex;
	justify-content: center;
	align-items:center;
}
.loader > img {
    width: 100px;
}
#icon-link{
	color:grey;
	transition: 0.3s ease-in-out;
}
#icon-link:hover{
	color: white;
}


.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
#link-button{
	margin-top:2vh;
	border: 1px solid black;
	color: black;
	transition: 0.3s ease-in-out;
}
#link-button:hover{
	color:#7FC8F8;
	background:black;
}
#link-covid{
		margin-top:2vh;
	border: 1px solid black;
	color: black;
	transition: 0.3s ease-in-out;
}
#link-covid:hover{
	color:#0FFF95;
	background:black;
}
.navbar{
	height: 10%;
	transition: 0.3s ease-in-out;
	text-align: center;
	z-index: 98;
	animation-delay: 3.5s;
	
}
.navbar-brand{
	font-family: 'Montserrat', sans-serif;
	color:white;
	font-weight: 500;
	font-size: 3vh;
	transition: 0.3s ease-in-out;
}

.nav-item a{
	font-family: 'Montserrat', sans-serif;
	font-size:3vh;
	color:white;
	font-weight: 500;
	margin-left:6vh;
	border:none;
	transition: 0.3s ease-in-out;
}
.nav-item a:hover{
	border-bottom: 1px solid white;
}
.body{
	text-align: left;
	padding-top:15vh;
	width: 100%;
	background: black;
	height: 100vh;
	font-family: 'SF Display', sans-serif;
}
.body2{
	padding-top:15vh;
	padding-bottom:15vh;
	text-align:center;
	background: white;
	color: #121212;
	width:100%;
	font-family: 'Nunito', sans-serif;
}
.about-me-header{
	font-family: 'SF Display', sans-serif;
	font-weight: 600;
	font-size: 8vh;
	text-align: left;
}
.aboutme-subheader{
	font-weight: 600;
	font-size: 4vh;
	margin-top:2vh;
	text-align: left;
	font-family: 'SF Display', sans-serif;
}
.aboutme-subtext{
	font-family: 'SF Text';
	font-size: 2.5vh;
	font-weight: 400;
	text-align: left;
}
@media only screen and (max-width: 1200px) {
	.about-me-header{
		font-size: 6vh;	
	}
	.aboutme-subheader{
		font-size: 3vh;
	}
	.centered{
		font-size: 4vh;
		top: 28%;
	}
}
.skills{
	text-align: left;
	margin-bottom:2vh;
	padding:0;
}
.skills li{
	border-bottom: 0.5px solid grey;
	display: inline;
	margin-left: 2vh;
	transition: 0.3s ease-in-out;
}
.skills li:hover{
	background: #9E82D2;
	color:white;
} 
#item1{
	margin:0;
}
.body3{
	padding-top: 15vh;
	padding-bottom: 15vh;
	text-align:left;
	justify-content: center;
	background: black;
	color: white;
	width:100%;
	font-family: 'Nunito', sans-serif;
}
body{
	background: #121212;
}
.main-text{
	font-family: 'SF Display', sans-serif;
	font-weight: 600;
	color: white;
	font-size: 10vh;
	transition: 0.3s ease-in-out;
	animation-delay: 3.5s;
}
.main-text-2{
	font-family: 'SF Display', sans-serif;
	font-weight: 600;
	color: white;
	font-size: 10vh;
	display: none;
}
@media only screen and (max-width: 770px) {
  .main-text {
    font-size: 4vh;
	margin-left: 5%;
  }
	.main-text-2{
		font-size: 4vh;
		margin-left: 5%;
		animation-delay:3.5s;
		display: block;
	}
}
.main-subtext{
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	font-size: 4vh;
	color: grey;
	visibility: visible;
	margin-top:2vh;
	animation-delay: 3.5s;
}
@media only screen and (max-width: 770px) {
  .main-subtext {
    font-size: 2.5vh;
	  margin-left: 5%;
  }
	.header{
		width:100%;
	}
}
@keyframes fadein {
    from { opacity: 0; visibility: hidden; }
    to   { opacity: 1; visibility: visible;}
}
.header{
	padding-top: 7vh;
}
.imgme{
	border-radius: 50%;
	 filter: grayscale(100%);
	width: 35vh;
	margin-top: 4vh;
	transition: 0.3s ease-in-out;
	box-shadow: 0px 0px 25px 0px #C2C2C2;
}
.imgme:hover{
	transform: translate(10px, -10px);
	filter: grayscale(0%);
	box-shadow: 0px 0px 35px 0px grey;
}
.bb ul{
	margin-top: 3vh;
	text-align:left;
	list-style: bullets;
	display: inline-block;
}
.scroll-down{
	font-family: 'Montserrat';
	margin-left: auto;
	 animation: MoveUpDown 2s linear infinite;
  position: absolute;
	border: none;
	background: none;
	color:slategray;
	margin-left: 28%;
	margin-bottom: 2%;
	outline:none;
}
.scroll-down:hover{
	color:white;
	outline:none;
	border:none;
	background:none;
}
.scroll-btn{
	border-left: 1px solid white;
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0px;
	opacity:1;
	color: white;
  }
  50% {
    bottom: 20px;
	  color:gray;
	  opacity: 1;
  }
}
.ul{
	width: 8%;
	text-align: right;
	margin-left: 20%;
	padding-top: 5vh;
	animation-delay: 3.5s;
}
.ul ul{
	list-style-type: none;
	font-size: 3vh;
	display: inline;
}
@media only screen and (max-width: 1200px) {
  .icon {
	  display: none;
	  animation: fadein 3s;
  }
	.ul{
		display: none;
		width: 1%;
		margin-left:none;
	}
	.imgme{
		width:25vh;
	}
}
.icon{
	margin-bottom: 70%;
	color:gray;
	animation: fadein 1s;
}
.icon:hover{
	color:white;
}
.emoji{
	width: 80px;
	padding-bottom: 30px;
	border-radius: 0px;
}
.dp{
	width:5.5vh;
	border-radius: 50%;
}
.nav-name{
 	margin-left: 10%;
	transition: 0.3s ease-in-out;
}
.sec2-main{
	font-family: 'SF Display', sans-serif;
	font-size: 8vh;
	font-weight: 600;
	animation: fadein 4s;
}
.screenshot{
	width: 35vh;
	margin-top: 6vh;
	border-radius: 25px;
	box-shadow: 1px 3px 18px 0px black;
}
.screenshot_big{
	margin-top: 5vh;
	margin-bottom: 5vh;
	width: 94%;
	border-radius: 0px;
	box-shadow: 0px 0px 18px 0px #0000002c;
}
.portfolio-header{
	font-family: 'SF Display', sans-serif;
	font-size: 10vh;
	font-weight: 600;
}
.portfolio-subtext{
	font-family: 'SF Text', sans-serif;
	font-weight: 300;
	font-size: 3vh;
	color: white;
	width:60%;
}
.covidapp{
	background: #0FFF95;
	color: black;
	padding-top: 7vh;
	padding-bottom: 7vh;
	margin: none;
}
.work{
	
}
.covidapp{
	text-align: left;
	padding-top: 10vh;
	font-family: 'Nunito', sans-serif;
}
.covid-header{
	font-family: 'SF Display', sans-serif;
	font-size:10vh;
	font-weight: 600;
}
.covid-subtext{
	font-family: 'SF Text', sans-serif;
	font-weight: 300;
	font-size: 3vh;
	margin-top: 8vh;
	margin-bottom: 8vh;
}
.card{
	width: 80%;
	color: black;
	border-radius: 0px;
	margin-top: 5vh;
	transition: 0.3s ease-in-out;
}
.card:hover{
	transform: translatey(-10px);
}
.card-title{
	font-family: 'SF Display';
	font-weight: 600;
	font-size: 4vh;
}
.card-header{
	background: white;
	border: none;
}
.btn-work{
	transition: 0.3s ease-in-out;
	font-size: 2.25vh;
	outline:none;
}
.careforyou{
	background:#7FC8F8;
}
.link-arrow{
	color: black;
	transition: 0.3s ease-in-out;
}
.fa-arrow-right{
	transition: 0.3s ease-in-out;
}
.fa-arrow-right:hover{
	transform: rotate(-45deg);
}
.link-arrow:hover{
	color: black;
}
@media only screen and (max-width: 750px) {
	.emoji{
		width: 5vh;
		display: inline-block;
		padding-top: 1.5vh;
	}
	.sec2-main{
		font-size: 5vh;
	}
	.covidapp{
		padding-bottom:3vh;
	}
	.screenshot_big{
		width: 90%;
	}
	.portfolio-header{
		font-size: 6vh;
	}
	.portfolio-subtext{
		font-size: 2vh;
		width:95%;
	}
	.covid-header{
		font-size: 4.65vh;
	}
	.covid-subtext{
		margin-top:4vh;
		margin-bottom:4vh;
		font-size:2vh;
	}
		.aboutme-subtext{
		margin: 0;
		font-size: 2vh;
	}
	.skills{
		text-align: left;
	}
	.skills li{
		font-size: 2vh;
	}
}

